In [8]:
# coding: utf-8
import pandas as pd
from datetime import date
from datetime import time
from datetime import datetime
import dateutil.parser as dparser
import os


#Setup
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

#get path to current project repository
ROOT_P = os.path.abspath(os.curdir)

Customer_P = ROOT_P + config['PATHS']['Customer']
Invoice_P = ROOT_P + config['PATHS']['Invoice']
Item_P = ROOT_P +config['PATHS']['Item']

print('---------   Reading Input files from: -------------')
print('Customer_P = ' + str(Customer_P))
print('Invoice_P = ' + str(Invoice_P))
print('Item_P = ' + str(Item_P))

print('--------- Loading Input files into dataframes -------------')
Customer = pd.read_csv(Customer_P.replace('~$',''))
Invoice = pd.read_csv(Invoice_P.replace('~$',''))
Item_P = pd.read_csv(Item_P.replace('~$',''))

---------   Reading Input files from: -------------
Customer_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/customer.csv
Invoice_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/invoice.csv
Item_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/invoice_item.csv
--------- Loading Input files into dataframes -------------

In [9]:
Customer

    CUSTOMER_CODE FIRSTNAME LASTNAME
0  CUST0000010231     Maria     Alba
1  CUST0000010235    George    Lucas
2  CUST0000010237   Stratos  Mylonas

In [10]:
Invoice

    CUSTOMER_CODE INVOICE_CODE  AMOUNT      DATE
0  CUST0000010231    IN0000001  105.50  1-Jan-16
1  CUST0000010235    IN0000002  186.53  1-Jan-16
2  CUST0000010231    IN0000003  114.14  1-Feb-16
3  CUST0000010237    IN0000005  256.12  5-Feb-17

In [11]:
Item_P

   INVOICE_CODE ITEM_CODE  AMOUNT  QUANTITY
0     IN0000001     MEIJI   75.60       100
1     IN0000001     POCKY   10.40       250
2     IN0000001    PUCCHO   19.50        40
3     IN0000002     MEIJI  113.40       150
4     IN0000002    PUCCHO   73.13       150
5     IN0000003     POCKY   16.64       400
6     IN0000003    PUCCHO   97.50       200
7     IN0000005     POCKY   16.64       400
8     IN0000005    PUCCHO   97.50       200
9     IN0000005     POCKY   16.64       400
10    IN0000005    PUCCHO   97.50       200

'C:\\Users\\swahle\\Documents\\Github\\Dream_Candies_file_tool'