In [1]:
# coding: utf-8
import pandas as pd
from datetime import date
from datetime import time
from datetime import datetime
import dateutil.parser as dparser
import os
import csv

#Setup
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

#get path to current project repository
ROOT_P = os.path.abspath(os.curdir)

Customer_P = ROOT_P + config['PATHS']['Customer']
Invoice_P = ROOT_P + config['PATHS']['Invoice']
Item_P = ROOT_P +config['PATHS']['Item']

print('---------   Reading Input files from: -------------')
print('Customer_P = ' + str(Customer_P))
print('Invoice_P = ' + str(Invoice_P))
print('Item_P = ' + str(Item_P))

print('--------- Loading Input files into dataframes -------------')
Customer = pd.read_csv(Customer_P.replace('~$','')).replace('"', '')
Invoice = pd.read_csv(Invoice_P.replace('~$','')).replace('"', '')
Item = pd.read_csv(Item_P.replace('~$','')).replace('"', '')

---------   Reading Input files from: -------------
Customer_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/customer.csv
Invoice_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/invoice.csv
Item_P = C:\Users\swahle\Documents\Github\Dream_Candies_file_tool/extraction_files/invoice_item.csv
--------- Loading Input files into dataframes -------------

In [2]:
Customer

    CUSTOMER_CODE FIRSTNAME LASTNAME
0  CUST0000010231     Maria     Alba
1  CUST0000010235    George    Lucas

In [3]:
Invoice

    CUSTOMER_CODE INVOICE_CODE  AMOUNT         DATE
0  CUST0000010231    IN0000001  105.50  01-Jan-2016
1  CUST0000010235    IN0000002  186.53  01-Jan-2016
2  CUST0000010231    IN0000003  114.14  01-Feb-2016

In [4]:
Item

  INVOICE_CODE ITEM_CODE  AMOUNT  QUANTITY
0    IN0000001     MEIJI   75.60       100
1    IN0000001     POCKY   10.40       250
2    IN0000001    PUCCHO   19.50        40
3    IN0000002     MEIJI  113.40       150
4    IN0000002    PUCCHO   73.13       150
5    IN0000003     POCKY   16.64       400
6    IN0000003    PUCCHO   97.50       200

In [5]:
df = pd.merge(Customer, Invoice)
df

    CUSTOMER_CODE FIRSTNAME LASTNAME INVOICE_CODE  AMOUNT         DATE
0  CUST0000010231     Maria     Alba    IN0000001  105.50  01-Jan-2016
1  CUST0000010231     Maria     Alba    IN0000003  114.14  01-Feb-2016
2  CUST0000010235    George    Lucas    IN0000002  186.53  01-Jan-2016

In [6]:
merged = pd.merge(df, Item, on=['INVOICE_CODE'])

In [7]:
merged.rename(columns = {'AMOUNT_y':'AMOUNT'}, inplace = True)
merged = merged.drop(['AMOUNT_x'], axis=1)

In [9]:
merged['CUSTOMER_CODE']

0    CUST0000010231
1    CUST0000010231
2    CUST0000010231
3    CUST0000010231
4    CUST0000010231
5    CUST0000010235
6    CUST0000010235
Name: CUSTOMER_CODE, dtype: object

In [27]:
Unique_customers = merged.drop_duplicates(subset=['CUSTOMER_CODE'])
Unique_customers = pd.DataFrame(Unique_customers, columns = ['CUSTOMER_CODE'])
import csv

Unique_customers.to_csv('test.txt', index=True, quotechar='"',
                      header=None, quoting=csv.QUOTE_NONNUMERIC)